<!DOCTYPE html>
<html>
<body>
<div class="jumbotron">
<h1>FOOTFALL DATA</h1>

<div id="piechart"></div>






<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['MONDAY', 50],
  ['TUESDAY', 60],
  ['WEDNESDAY',55],
  ['THURSDAY', 67],
  ['FRIDAY', 77],
  ['SATURDAY', 44],
  ['SUNDAY', 95]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      
      <th scope="col">DAY</th>
      <th scope="col">NO. OF PEOPLE VISITED</th>
    </tr>
  </thead>
   <tbody>
    <tr>
      <th scope="row">1</th>

      <td>MONDAY</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">2</th>
   
      <td>TUESDAY</td>
      <td>60</td>
    </tr>
    <tr>
      <th >3</th>
      <td >WEDNESDAY</td>
      <td>55</td>
    </tr>
     <tr>
      <th >4</th>
      <td >THURSDAY</td>
      <td>67</td>
    </tr>
     <tr>
      <th >5</th>
      <td >FRIDAY</td>
      <td>77</td>
    </tr>
     <tr>
      <th >6</th>
      <td >SATURDAY</td>
      <td>44</td>
    </tr>
     <tr>
      <th >7</th>
      <td >SUNDAY</td>
      <td>95</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>