{% extends "base.html" %}

{% block title %}
THE THROSHOS
{% endblock %}
{% block content %}
<article>
    <header>
        <h1>ADMIN PORTAL</h1>
        
    </header>
    <section >

    </section>
  
    <footer>
        <br><br><h4>Terms and conditions</h4>
        <p>The company is not responsible for any Faults from owner side</p>
    </footer>
</article>

<aside>
        <h4>Use this portal to </h4>
        <ul>
        	<li>increase your revenue</li>
        	<li>Attract customers</li>
        	<li>Provide Better experience to customers</li>
        </ul>
</aside>
{% endblock %}
